body{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    padding: 0 7%;
}


#right{
    position: relative;
    display: flex;

}
#rightbro
{
    margin-top: 0.6rem;
}
#right #rightbro a
{
    position: relative;
    display: inline;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    
   
    margin-right: 1.5rem;
}
#right #logout{
    background-color: darkgray;
    margin-left: 1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
#right #logout:hover{
    background-color: bisque;
}
#right i{
    font-size: 2.9rem;
    z-index: 0;
    cursor: pointer;
}
header #right span{
    position: absolute;
    top: 2%;
    right: 28%;
    font-size: 21px;
    z-index: 1;
    color: white;
    cursor: pointer;
}
#block img
{
    width: 100%;
}
main{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4,20%);
    width: 90%;
    margin: auto;
    
}
/* main div{
    width: 20%;
    border-radius: 5px;
} */
main div img{
    width: 120%;
    height: 14rem;
    
    border-radius: 5px;
    margin-top: 3rem;
}
main div h3{
    text-align: left;
}
main div p{
    text-align: left;
}
main div div{
    width: 120%;
    display: flex;
    justify-content: space-between;
}
main div button{
    width: 120%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 8px;
}
main div button:hover{
    background-color: darkgray;
}
main div button i{
    font-size: 1.5rem;
}

#popup{
    width: 30%;
    background-color: gainsboro;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -100%;
    height: 100vh;
    padding: 2rem;
    transition: 1s;
    z-index: 2;
}
#popup #static div{
    display: flex;
    justify-content: end;
    font-size: 2rem;
}
#popup #static .fa-solid.fa-circle-xmark:hover{
    color: red;
}

#popup #static h2{
    text-align: center;
}
#dynamic .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#dynamic .cont .m{
    width: 80%;
    text-align: left;
}
#dynamic .cont img{
    width: 7rem;
    height: 6rem;
    
    margin-top: 1.1rem;
}
#dynamic .cont h4{
    margin-bottom: 0;
}
#dynamic .cont input{
    width: 2.5rem;
    height: 1rem;
    
}
.fa-solid.fa-trash-can{
    color: red;
    margin-left: 1rem;
}
#payment{
    text-align: center;
    margin-top: 2rem;
}
#payment p{
    text-align: right;
}
#payment button{
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 6px;
    font-family: 'Merriweather', serif;
}


#wo{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4,20%);
    width: 90%;
    margin: auto;
    
}
/* main div{
    width: 20%;
    border-radius: 5px;
} */
#wo div img{
    width: 120%;
    height: 14rem;
    
    border-radius: 5px;
    margin-top: 3rem;
}
#wo div h3{
    text-align: left;
}
#wo div p{
    text-align: left;
}

#wo div div{
    width: 120%;
    display: flex;
    justify-content: space-between;
}
#wo div button{
    width: 120%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 8px;
}
#wo div button i{
    font-size: 1.5rem;
}

.head{
    text-align: center;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
}
.out{
    color: red;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2rem;
}
.not{
    color: rgb(49, 224, 49);
    margin-left: -100%;
    transition: 1s ease-in-out;
    
}
#bd{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4,20%);
    width: 90%;
    margin: auto;
    
}
/* main div{
    width: 20%;
    border-radius: 5px;
} */
#bd div img{
    width: 120%;
    height: 14rem;
    
    border-radius: 5px;
    margin-top: 3rem;
}
#bd div h3{
    text-align: left;
}
#bd div p{
    text-align: left;
}

#bd div div{
    width: 120%;
    display: flex;
    justify-content: space-between;
}
#bd div button{
    width: 120%;
    height: 3rem;
    margin-top: 1rem;
    border: none;
    background-color: gainsboro;
    cursor: pointer;
    border-radius: 8px;
}
#bd div button i{
    font-size: 1.5rem;
}
#social{
    background-color: black;
   
}
#social #footer{
    text-align: center;
    color: 
    #c6c6c6 ;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    padding-top: 10px;
}

#social #footer1{
    display: flex;
    justify-content: center;
    border-right: 2px solid gray;
    padding-bottom: 70px;
}
#social #footer1 p{
    padding-right: 10px;
    padding-left: 10px;
    color: gray;
}
#about
{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;


}
#about #aboutleft
{
    width: 50%;
    display: flex;
    justify-content: left;
    margin-left: 10rem;
}
#about #aboutright
{
    
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 7rem;
   
}
#about #aboutright img
{
    width: 80%;
    border-radius: 10px;

}
#formbhai
{
    display: flex;
    margin-left: 9%;
    margin-top: 2rem;
}
#formbhai button
{
    border-radius: 5px;
    height:2rem ;
    width: 5rem;
    margin-top: 1rem;

}
@media(max-width:600px){
    main{
     
        justify-content: left;
        grid-template-columns: repeat(1,50%);
        width: 100%;
       margin-left: 0;
       padding-left: 0;
        
        
    }
    main div{
        width: 130%;
        margin-left: 3.8rem;
    }
    main div .un{
        margin-left: 0;
    }
    main div img{
        width: 100%;
        height: 12rem;
        
        border-radius: 5px;
        margin-top: 3rem;
    }
    main div div{
        width: 100%;
       
    }
    main div button{
        width: 100%;
        height: 3rem;
      
    }
    main span{
        font-size: 13px;
    }
    #wo{
        display: grid;
        justify-content: left;
        grid-template-columns: repeat(1,50%);
        width: 100%;
        margin: left;
        
    }
    #wo div{
        width: 130%;
        margin-left: 3.8rem;
    }
    #wo div .un{
        margin-left: 0;
    }
    #wo span{
        
            font-size: 13px;
        
    }
    #wo div img{
        width: 100%;
        height: 12rem;
        
        border-radius: 5px;
        margin-top: 3rem;
    }
    #wo div button{
        width: 100%;
        height: 3rem;
    }

    #wo div div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#popup{
    width: 80%;
    background-color: gainsboro;
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -100%;
    height: 100vh;
    padding: 2rem;
    transition: 1s;
    z-index: 2;
}
#bd{
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(1,50%);
    width: 100%;
    margin: left;
    
}
#bd div{
    width: 130%;
    margin-left: 3.8rem;
}
#bd div .un{
    margin-left: 0;
}
#bd span{
    
        font-size: 13px;
    
}
#bd div img{
    width: 100%;
    height: 12rem;
    
    border-radius: 5px;
    margin-top: 3rem;
}
#bd div button{
    width: 100%;
    height: 3rem;
}

#bd div div{
width: 100%;
display: flex;
justify-content: space-between;
}

header #left{
    font-size: 8px;
    margin-left: 0;
    padding-left: 0;
}
#right #logout{
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 0;
    height: 1.5rem;
    width: 4rem;
   
   
}#right i{
    font-size: 2rem;

}
header #right span{
    position: absolute;
    top: 1%;
    right: 76%;
    font-size: 1rem;
    z-index: 1;
    color: white;
    cursor: pointer;
}
main div img{
  
    margin-top: 0rem;
}

    
}