body{
    margin: 0;
    padding: 0;
    background-color: rgb(104, 103, 103);
}
#cont{
   width: 17%;
   margin: auto;
   background-color: antiquewhite;
   padding: auto;
   
   border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
   padding: 2rem;
}
form input{
    height: 2rem;
    border-radius: 10px;
    width: 15rem;
}
#cont form h4{
    margin: 0.5rem;
}
#bt{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}
#sign{
    background-color: burlywood;
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    margin: 0 2rem;
    font-weight: 600;
}
#log{
    background-color: cadetblue;
    width: 5rem;
    height: 2rem;
    
    border-radius: 10px;
    
}
#bt p{
    margin-top: 5px;
    margin-left: 5rem;
    color: blue;
    
}
span{
    color: red;
}
#cont #foot{
    display: flex;
    margin-top: 1rem;
    gap: 5px;
    margin-left: 2rem;
}
#cont #foot p{
    color: blue;
}
input::placeholder{
    color: darkgray;
    font-weight: 600;
}
input{
    color: black;
    font-weight: 700;
    box-shadow: 5px 5px 5px black;
}

@media (max-width:600px){
    #cont{
        width: 70%;
        margin: auto;
        margin-top: 1rem;
       
        
       
     }
}



